section{
	margin-top: 25px;
}

#productos figure{
	float:left;
	margin:auto;
	margin-left: 45px;
}
#productos img {
	width: 200px;
	height: 100px;
}
#productos figure img{
	border-radius: 20px;
	/*-webkit-transition:-webkit-transform 0.30s ease-in .3s width 5s;*/
}

#productos figure img:hover{
	-webkit-transform:scale(1.2);

}

#productos figcaption{
	margin-top: 15px;
	text-align:center;
	border-top:double purple;
	border-bottom:double olive;
	margin-bottom: 15px;
}

.color {
	background-color: #CC3333;
	border:2px solid #5b973b;
	transition: background-color 2s ease;
	text-align:center;
	width:auto;
	border-radius: 15px;
	height: 40px;
}
.color:hover {
	background-color: pink;
}
.elemento{
	background-image:url("img/logo.png");
	background-size: 10px;
}